html, body {
	margin: auto;
	width: 100%;
	max-width: 1100px;
}

div {
	margin: 0;
	font-size: 14px;
}

#main_container {
	width: 100%;
}

#header {
	width: 100%;
	margin: auto;
}

#header_name {
	justify-content: flex-start;
	padding-left: 3px;
}

#header_date {
	display: flex;
	padding-left: 3px;
}

#header_weather{
	display: flex;
	padding-left: 3px;
}

i {
	padding-left: 4px;
	padding-top: 4px;
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#panel{
	height: 100%;
}

#sidebar_wrapper{
	padding: 0;
}

#sidebar {
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
}

#sidebar ul p {
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

/*
____________________________________

|	COLORS							|
____________________________________
*/


.winter {
	html, body {
		background-color: white;
		border: solid 1px red;
	}

	div {
		border: solid 1px blue;
		background-color: aqua;
	}

	.text-sidebar {
		color: blue;
	}

	#sidebar {
		background: blue;
		color: black;
	}

	#sidebar .sidebar-header {
		background:blue;
	}

	#sidebar ul.components {
		border-bottom: 1px solid red;
	}

	#sidebar ul p {
		color: black;
	}

	#sidebar ul li a:hover {
		color: blue;
		background: aquamarine;
	}

	#sidebar ul li.active>a, a[aria-expanded="true"] {
		color: black;
		background: blue;
	}

	ul ul a {
		background: blue;
	}

	a.download {
		background: black;
		color: blue;
	}

	a.article,
	a.article:hover {
		background: blue !important;
		color: black !important;
	}

}

.summer {

	html, body {
		background-color: white;
		border: solid 1px red;
	}

	div {
		border: solid 1px yellow;
		background-color: bisque;
		font-size: 14px;
	}

	.text-sidebar {
		color: lightgoldenrodyellow;
	}

	#sidebar {
		background: blue;
		color: black;
	}

	#sidebar .sidebar-header {
		background:blue;
	}

	#sidebar ul.components {
		border-bottom: 1px solid red;
	}

	#sidebar ul p {
		color: black;
	}

	#sidebar ul li a:hover {
		color: blue;
		background: aquamarine;
	}

	#sidebar ul li.active>a, a[aria-expanded="true"] {
		color: black;
		background: blue;
	}

	ul ul a {
		background: blue;
	}

	a.download {
		background: black;
		color: blue;
	}

	a.article,
	a.article:hover {
		background: blue !important;
		color: black !important;
	}

}